article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

/* ol, ul {
  list-style: none; } */


  
body {
    -ms-overflow-style: scrollbar; }
  
  @media screen and (max-width: 480px) {
    html, body {
      min-width: 320px; } }
  
  html {
    box-sizing: border-box; }
  
  *, *:before, *:after {
    box-sizing: inherit; }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
    width: 100%; }
    @media screen and (max-height: 640px) {
      html, body {
        height: auto;
        min-height: 100%; } }


        body {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            margin: 20px;
            padding: 50px;
             }

    
  